* {
  font-family: "Lato", sans-serif;
  color: #2d3c49;
  font-weight: 300;
}

.thick-horizontal-line {
  border: 2px solid #7d97ad;
}

.text-thin {
  font-weight: 300;
}

.text-muted {
  color: #7d97ad;
  font-weight: bold;
}

.logo-img {
  width: 100px;
  height: 100px;
}

.head-logo {
  margin-top: 20px;
}

.head-title {
  font-size: 60px;
}

.cover-img {
  width: 100%;
  height: 100%;
}

.section-img {
  width: 100%;
  height: 100%;
}
